:root {
  --font-content: "Open Sans", sans-serif;
  --font-heading: "Dancing Script", cursive;
  --color-primary: rgb(255, 190, 51);
  --bg-primary: #222831;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-content);
  font-size: 1.5rem;
  line-height: 1;
}
section {
  display: block;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  color: #ffffff;
  text-decoration: none;
}
select,
option,
input {
  width: 100%;
  outline: none;
  font-size: 1.8rem;
  /* line-height: 3rem; */
  border: none;
  color: #757575;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
}
.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col {
  width: 100%;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
}
.l-12 {
  max-width: 100%;
  flex-wrap: 0 0 100%;
}
.l-4 {
  max-width: 33.33333%;
  flex: 0 0 33.33333%;
}
.l-6 {
  max-width: 50%;
  flex-wrap: 0 0 50%;
}
.btn-primary {
  font-size: 1.6rem;
  padding: 10px 38px;
  border-radius: 50px;
  background-color: var(--color-primary);
  transition: background-color ease-in 0.2s;
}
.btn-primary:hover {
  background-color: #e69c00;
}

.btn-radius {
  font-size: 1.6rem;
  padding: 10px 12px;
  border-radius: 50%;
  background-color: var(--color-primary);
  transition: background-color ease-in 0.2s;
}
.btn-radius:hover {
  background-color: #e69c00;
}
.about {
  margin-top: 9rem;
  background-color: var(--bg-primary);
}
.about__main {
  padding: 9rem 0;
  align-items: center;
}
.about__box {
  height: 600px;
}
.about__img {
  width: 100%;
  object-fit: contain;
}
.about__content {
  color: #ffffff;
}
.about__heading {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 2.4rem;
}
.about__desc {
  line-height: 1.5;
  font-size: 1.6rem;
}
.about__btn {
  margin-top: 4rem;
}
